<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">
<!-- 즉시 로딩 방식 : 구동되는 시점에 bean 객체 생성 -->
	<context:component-scan base-package="polymorphism"/>
	<bean id="apple" class="polymorphism.AppleSpeaker"/>
	<!-- init과 destroy로 bean객체의 생명주기 알기 쉽다. -->
	<!-- 생성자 주입방식 
	<bean id="tv" class="SamsungTV" init-method="initMethod" destroy-method="destroyMethod" scope="singleton">
		<constructor-arg index="0" ref="sony"></constructor-arg>
		<constructor-arg index="1" value="2700000"></constructor-arg>
	</bean>
	-->
	<!-- Setter 주입 방식
	<bean id="tv" class="SamsungTV">
		<property name="speaker" ref="apple"></property>
		<property name="price" value="2700000"></property>
	</bean>	
	 -->
	<!-- p 네임스페이스 활용 --><!-- 
	<bean id="tv" class="polymorphism.SamsungTV" p:speaker-ref="sony" p:price="2700000"/>
	 
	<bean id="sony" class="polymorphism.SonySpeaker"/>
	<bean id="apple" class="polymorphism.AppleSpeaker"/>
	 -->
	<bean id="collectionBean" class="com.springbook.ioc.injection.CollectionBean">
		<property name="addressList">
			<list>
				<value>서울시 강남구 역삼동</value>
				<value>서울시 성동구 행당동</value>
			</list>
		</property>
	</bean>
	<!-- 
	<bean id="collectionBean2" class="com.springbook.ioc.injection.CollectionBean">
		<property name="addressList">
			<map>
				<entry>
					<key><value>고길동</value></key>
					<value>서울시 강남구 역삼동</value>
				</entry>
				<entry>
					<key><value>마이콜</value></key>
					<value>서울시 성동구 행당동</value>
				</entry>
			</map>
		</property>
	</bean>
	 -->
</beans>